@import url('https://fonts.googleapis.com/css?family=Jacques+Francois+Shadow|Special+Elite&display=swap');
body {
    background-color: #696D87;
    text-align: center;
    color: black;
    font-family: 'Roboto Slab', serif;
    margin: 0 auto;
}
::-webkit-input-placeholder {
    color: #ffa95e;
}
h1{
    color: black;
}

input[type=checkbox] {
    horiz-align: left;
    position: relative;
}

.form-control{
    height: 40px;
    box-shadow: none;
    color: #969fa4;
}

.form-control:focus{
    border-color: #5cb85c;
}
.form-control, .btn{
    border-radius: 3px;
}
.signup-form{
    width: 40%;
    margin: 0 auto;
    padding: 30px 0;
}
.signup-form h2{
    color: black;
    margin: 0 0 15px;
    position: relative;
    text-align: center;
}

.signup-form h2:before{
    left: 0;
}
.signup-form h2:after{
    right: 0;
}
.signup-form .hint-text{
    color: black;
    margin-bottom: 30px;
    text-align: center;
}
.signup-form form{
    color: black;
    border-radius: 8px;
    margin-bottom: 15px;
    background: #f2f3f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}
.signup-form .form-group{
    margin-bottom: 20px;
}
.signup-form input[type="checkbox"]{
    margin-top: 3px;
}
.signup-form .btn{
    font-size: 1em;
    font-weight: bold;
    min-width: 140px;
    outline: none !important;
    background-color: #f2c078;
    color: #151e3f;
    border-radius: 8px;
}
.signup-form .row div:first-child{
    padding-right: 10px;
}
.signup-form .row div:last-child{
    padding-left: 10px;
}
.signup-form a{
    color: #fff;
    text-decoration: underline;
}
.signup-form a:hover{
    text-decoration: none;
}
.signup-form form a{
    color: #5cb85c;
    text-decoration: none;
}
.signup-form form a:hover{
    text-decoration: underline;
}
#submit:hover {
    background-color: #ffa95e;
}
#labels{
    text-align: left;
}

@media screen and (max-width:425px) {
    .signup-form {
        width: 90%;
    }
}
@media screen and (max-width: 1600px) and (min-width: 992px) {



}
