<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<body>

<footer th:fragment="footer" class="sd-footer">
    <div class="row">
        <div class="columns small-4">
            <h5>About Us</h5>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
        </div>
        <div class="columns small-4">
            <h5>Quick Nav</h5>
            <ul>
                <li>Home</li>
                <li>About</li>
                <li>Contact Us</li>
            </ul>
        </div>
        <div class="columns small-4">
            <h5>Find Us</h5>
            <ul>
                <li>Twitter</li>
                <li>GitHub</li>
                <li>Other Link</li>
            </ul>
        </div>
    </div>
</footer>
</body>
</html>