<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title></title>
    <link rel="stylesheet" href="/css/navbar-user.css"/>
</head>
<body>

<nav th:fragment="user-nav" class="navbar navbar-expand form-inline">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon form-inline"></span>
    </button>
    <div class="collapse navbar-collapse navbar" id="navbarText">
        <ul class="navbar-nav form-inline">
            <li class="nav-item">
                <a th:href="@{/dashboard}" class="nav-link"><img src="/img/seek-devs(cropped).png" width="64" height="64" alt="logo"/></a>
            </li>
            <li class="nav-item">
                <a th:href="@{/profile}" class="nav-link">Profile</a>
            </li>
            <li class="nav-item">
                <a th:href="@{/projects/create}" class="nav-link">Create Project</a>
            </li>
            <li class="nav-item">
                <a th:href="@{/users}" class="nav-link">Users</a>
            </li>
            <li class="nav-item">
                <a th:href="@{/login}" class="nav-link" tabindex="-1" ><form th:action="@{/logout}" th:method="post">
                </form>Logout</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" th:action="@{/users}" th:method="post">
            <input class="form-control mr-sm-2 d-flex justify-content-between" type="search" placeholder="Search" aria-label="Search" name="search" />
            <button class="btn-style my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

</body>
</html>