<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>

    <nav th:fragment="nav">
        <ul>
            <li>
                <a th:href="@{/}"><img src="../img/filler-img.png"/>Home</a>
            </li>
            <li>
                <a th:href="@{/login}">Login</a>
            </li>
            <li>
                <a th:href="@{/signup}">Sign-up</a>
            </li>
            <li>
                <a th:href="@{/about}">About</a>
            </li>
            <li>
                <a th:href="@{/logout}"><form th:action="@{/logout}" th:method="post">
                </form>Logout</a>
            </li>
        </ul>
    </nav>

</body>
</html>