<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Navbar</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/navbar.css" />
</head>
<body>

    <nav th:fragment="nav" class="navbar navbar-expand-lg">
        <button  class="navbar-toggler form-inline" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse navbar-style form-inline" id="navbarNav">
            <ul class="navbar-nav ul-style form-inline">
                <li class="nav-item nav-link-style navbar-brand">
                    <a th:href="@{/}" class="nav-link"><img src="/img/seek-devs(cropped).png" width="64" height="64" class="img-link" alt="logo"/></a>
                </li>
                <li class="nav-item nav-img-pos nav-link-style">
                    <a th:href="@{/login}" class="nav-link">Login</a>
                </li>
                <li class="nav-item nav-link-style">
                    <a th:href="@{/signup}" class="nav-link">Sign-up</a>
                </li>
                <li class="nav-item nav-link-style">
                    <a th:href="@{/about}" class="nav-link">About</a>
                </li>
            </ul>
        </div>
    </nav>

</body>
</html>