<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="partials/header :: header" >
    </th:block>
    <link rel="stylesheet" href="/css/signup.css" />
    <link rel="stylesheet" href="/css/navbar-user.css"/>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Edit Profile</title>
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>-->
</head>
<body>
<nav th:replace="partials/navbar-user :: user-nav"></nav>

<div class="signup-form">
    <form th:action="@{/profile/edit}" method="POST" th:object="${user}">
        <h1>Edit Profile</h1>
        <br />
        <div class="form-group">
            <div class="row">
                <div class="col-6" id="labels">
                    <label for="username" id="labelusername"><b>Username</b></label>
                    <br />
                    <input type="text" id="username" class="form-control" placeholder="Username" th:field="*{username}" />
                    <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>
                </div>

                <div class="col-6" id="labels">
                    <label for="password"><b>Password</b></label>
                    <br />
                    <input type="password" id="password" class="form-control" placeholder="Please re-enter" th:field="*{password}" />
                    <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="email"><b>Email</b></label>
            <br />
            <input type="email" class="form-control" placeholder="Email" id="email" th:field="*{email}" />
            <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
        </div>

        <div class="form-group">
            <label for="bio"><b>Biography</b></label>
            <textarea class="form-control" placeholder="Biography" style="height: 80px" id="bio" th:field="*{bio}"></textarea>
        </div>

        <label for="dev_type">What type of developer are you?</label>
        <select name="dev_type" style="color: #999" id="dev_type">
            <option value="1">Front-End</option>
            <option value="2">Back-End</option>
            <option value="3">Full-Stack</option>
        </select>
        <p>What programming language do you know?</p>

        <div class="row">
            <div class="col-6">
                <input id="HTML" type="checkbox" name="languages" value="1" />
                <label for="HTML">HTML</label>
                <br />
                <input id="jQuery" type="checkbox" name="languages" value="2" />
                <label for="jQuery">jQuery</label>
                <br />
                <input id="CSS" type="checkbox" name="languages" value="3" />
                <label for="CSS">CSS</label>
                <br />
                <input id="JavaScript" type="checkbox" name="languages" value="4" />
                <label for="JavaScript">JavaScript</label>
                <br />
            </div>
            <div class="col-6">
                <input id="Java" type="checkbox" name="languages" value="5" />
                <label for="Java">Java</label>
                <br />
                <input id="Spring" type="checkbox" name="languages" value="6" />
                <label for="Spring">Spring</label>
                <br />
                <input id="NodeJS" type="checkbox" name="languages" value="7" />
                <label for="NodeJS">NodeJS</label>
                <br />
                <input id="Bootstrap" type="checkbox" name="languages" value="8" />
                <label for="Bootstrap">Bootstrap</label>
            </div>
        </div>
        <br/>
        <div class="form-group">
            <button type="submit" style="color: #151e3f" class="btn btn-lg btn-block" id="submit">Update</button>
        </div>
    </form>
</div>

<footer th:replace="partials/footer :: footer"></footer>

</body>
</html>