<!DOCTYPE html>
<html  lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/foundation.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <title>Seeking Devs | Log In</title>
</head>
<body>
<!--// Nav-->
<nav th:replace="partials/navbar-foundation :: navbar"></nav>

<div class="login mx-auto" id="login-form" align="center">
    <form th:action="@{/login}" method="post" id="loginForm">

    </form>
</div>
<footer th:replace="partials/footer :: footer"></footer>
</body>
</html>