<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/normalize.css"/>
    <link rel="stylesheet" href="/css/foundation.css"/>
    <link rel="stylesheet" href="/css/footer.css"/>
    <link rel="stylesheet" href="/css/login.css"/>
    <link rel="stylesheet" href="/css/main.css"/>
    <title>Seeking Devs | Log In</title>
</head>
<body>
<!--// Nav-->
<nav th:replace="partials/navbar-foundation :: navbar"></nav>

<div class="container">

    <div class="sd-login-main-wrapper">
        <!--   Login Input     -->
        <div class="row">
            <div class="columns large-6">
                <div class="sd-login-container">

                    <form th:action="@{/login}" method="post">
                        <div class="sd-login-form">
                            <h3>Login</h3>
                            <label for="username"></label>
                            <input type="text" name="username" id="username" value="Username"/>
                            <label for="password"></label>
                            <input type="password" id="password" name="password"/>
                            <button type="submit" value="Submit">Submit</button>
                        </div>
                    </form>

                </div>
            </div>
            <!--     End Login Input   -->

            <!--    Login Image     -->
            <div class="columns large-6 sd-login-img">
                <img class="login-img" src="img/login.png" alt=""/>
            </div>
            <!--    End Login Image    -->
        </div>
    </div>
</div>
<footer th:replace="partials/footer :: footer"></footer>

<!-- Compressed JavaScript-->
<script src="/js/vendor/jquery.js"></script>
<script src="/js/vendor/what-input.js"></script>
<script src="/js/vendor/foundation.js"></script>
<script src="/js/app.js"></script>
</body>
</html>