<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="partials/head :: head(${users.username+'''s Profile'})">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
</head>
<body>
<nav th:replace="partials/navbar :: nav"></nav>

    <div class="container-fluid">
        <div class="row navRow ">
            <div id="LogoCol" class="col-md-auto col-sm-4 mr-md-auto">
                <div class="row">
                    <div id="Logo" class="col-md-4 px-sm-0 mx-sm-auto text-center hoverGrow"><a href="#home"><img class="logo" src="img/logo.png" alt=""></a></div>
                    <div class="w-100 d-block d-md-none"></div>
                    <div id="LogoText" class="col-md-8 pl-md-4 px-sm-0 justify-content-center"><p>codeup design</p></div>
                </div>
            </div>
            <div id="ServicesLink" class="col navCol px-2 ml-auto ml-sm-auto hoverGrow"><a href="#">SERVICES</a></div>
            <div id="WorkLink" class="col navCol px-2 hoverGrow"><a href="#">WORK</a></div>
            <div id="BlogLink" class="col navCol px-2 hoverGrow"><a href="#">BLOG</a></div>
            <div id="ContactLink" class="col navCol px-2 mr-auto mr-sm-auto mr-md-0 hoverGrow"><a href="#">CONTACT</a></div>
        </div>
    </div>

    <div class="col-md-4 px-sm-0 mx-sm-auto text-center hoverGrow">
        <img class="logo" src="../img/filler-hyaluron-wien.jpg">
    </div>

</body>
</html>

<!--
<div class="card">
    <div class="col-12" th:text="${users.username+'''s Profile'}"></div>
     maybe not use a card

    <div th:src="@{users.photo}"></div>

    <div th:text="${users.bio}"></div>

    <div th:text="${users.email}"></div>

</div>
-->