<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8"/>
    <title>dashboard</title>
    <!--<link rel="stylesheet" href="/css/dashboard.css"/>-->
    <link rel="stylesheet" href="/css/app.css" />
    <link rel="stylesheet" href="/css/foundation.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/footer.css" />
</head>
<body>

<nav th:replace="partials/navbar-foundation :: navbar"></nav>



<!--400 Error with Dashboard-->


<div class="row">
    <div class="columns">
        <form th:action="@{'/'}" method="get">
            <h2 class="sd-steps">Oops! There was an error.</h2>
            <input class="button sd-success radius" type="submit" value="Home" />
        </form>
    </div>
</div>



<div th:replace="partials/footer :: footer"></div>









<!-- Compressed JavaScript -->
<script src="/js/vendor/jquery.js"></script>
<script src="/js/vendor/what-input.js"></script>
<script src="/js/vendor/foundation.js"></script>
<script src="/js/app.js"></script>

</body>
</html>










