body {
    background-color: #151e3f;
}

.about {
    text-align: center;
}


.card-elle {
    color: #0056c6;
    border-radius: 25px;
    background-color: #ffa95e;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(255,131,0,0.5);
    transition: 0.3s;
    min-height: 550px;
    max-height: 550px;
    min-width: 450px;
    max-width: 450px;
}

.card-elle:hover {
    box-shadow: 5px 10px 20px 10px rgba(255,131,0,0.5);
}

.card-derek {
    color: #0056c6;
    border-radius: 25px;
    background-color: #ffa95e;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(255,131,0,0.5);
    transition: 0.3s;
    min-height: 550px;
    max-height: 550px;
    min-width: 450px;
    max-width: 450px;
}

.card-derek:hover {
    box-shadow: 5px 10px 20px 10px rgba(255,131,0,0.5);
}

.card-nic {
    color: #0056c6;
    border-radius: 25px;
    background-color: #ffa95e;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(255,131,0,0.5);
    transition: 0.3s;
    min-height: 550px;
    max-height: 550px;
    min-width: 450px;
    max-width: 450px;
}

.card-nic:hover {
    box-shadow: 5px 10px 20px 10px rgba(255,131,0,0.5);
}

h6.bio {
    font-size: 16px;
}
