body {
    background-color: #151e3f;
}

.about {
    text-align: center;
}


.card-elle {
    color: #0056c6;
    border-radius: 25px;
    background-color: #ffa95e;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(255,131,0,0.5);
    transition: 0.3s;
    height: 80%;
    width: 45%;
}

.card-elle:hover {
    box-shadow: 5px 10px 20px 10px rgba(255,131,0,0.5);
}

.card-derek {
    color: #0056c6;
    border-radius: 25px;
    background-color: #ffa95e;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(255,131,0,0.5);
    transition: 0.3s;
    height: 80%;
    width: 45%;
}

.card-derek:hover {
    box-shadow: 5px 10px 20px 10px rgba(255,131,0,0.5);
}

.card-nic {
    color: #0056c6;
    border-radius: 25px;
    background-color: #ffa95e;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(255,131,0,0.5);
    transition: 0.3s;
    height: 80%;
    width: 45%;
}

.card-nic:hover {
    box-shadow: 5px 10px 20px 10px rgba(255,131,0,0.5);
}

h6.bio {
    font-size: 16px;
}

@media screen and (max-width:425px) {
    .card-elle {
        height: 90%;
        width: 90%;
    }
    .card-derek {
        height: 90%;
        width: 90%;
    }
    .card-nic {
        height: 90%;
        width: 90%;
    }
}

@media screen and (min-width:425px) and (max-width:612px) {
    .card-elle {
        height: 80%;
        width: 80%;
    }
    .card-derek {
        height: 80%;
        width: 80%;
    }
    .card-nic {
        height: 80%;
        width: 80%;
    }
}