@import url('https://fonts.googleapis.com/css?family=Jacques+Francois+Shadow|Special+Elite&display=swap');
body {
    background-color: #151E3F;
    color: #FF8300;
    font-family: 'Special Elite', cursive;
}
.card-style{
    background-color: #FFA95E;
    border-radius: 8px;
    border-color: #FF8300;
    color: #151E3F;
}
.btn-style{
    background-color: #151E3F;
    color: #FF8300;
    border-color: #FFF9EE;
}