@import url('https://fonts.googleapis.com/css?family=Jacques+Francois+Shadow|Special+Elite&display=swap');
body{
    background-color: #696D87;
    text-align: center;
    color: #F2C078;
    font-family: ‘Roboto Slab’, serif;
}
h3{
    text-decoration: underline #999999;
}
.card-style{
    background-color: #f2f3f7;
    border-radius: 8px;
    max-width: 75%;
    max-height: 50%;
    border-color: #f2f3f7;
    color: #000;
    margin: 2em;
    /*max-height: 100px; !important;*/
    /*max-width: 100px; !important;*/
    object-fit: contain;
    overflow: scroll;

}

.btn-style{
    background-color: #f2c078;
    color: #151E3F;
    border-radius: 8px;
    height: 50px;
    width: 200px;
    font-size: 1.2em;
}
.btn-style:hover{
    background-color: #ffa95e;
    color: #151E3F;
    border-radius: 8px;
}