@import url('https://fonts.googleapis.com/css?family=Jacques+Francois+Shadow|Special+Elite&display=swap');
body{
    background-color: #151E3F;
    text-align: center;
    color: #FF8300;
    font-family: 'Special Elite', cursive;
}
h1{
    margin-top: 1.5em;
    text-shadow: 4px 4px 4px #0056C6;
}
.main-card{
    box-sizing: border-box;
    justify-content: end;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    background-color: #FF8300;
    box-shadow: #FF8300;
    padding: 1em;
}
.project-pic{
    padding: 20px;
    margin-top: 1em;
}
.profile-pic{
    padding: 20px;
}
.dashboard-pic{
    padding: 20px;
    margin-bottom: 1em;
}