@import url('https://fonts.googleapis.com/css?family=Jacques+Francois+Shadow|Special+Elite&display=swap');
body {
    background-color: #696D87;
    text-align: center;
    align-content: center;
    color: #696D87;
    margin: 0 auto;
}

#submit {
    border-radius: 8px;
    background-color: #f2c078;
    color: #151e3f;
}

#submit:hover {
    background-color: #ffa95e;
}

.landing-carousel-img {
    width: 75%;
}

.images {
    width: 80%;
}
#username{
    width: 80%;
}
#password{
    width: 80%;
}

#login-form form{
    color: #000000;
    border-radius: 8px;
    margin-bottom: 15px;
    background: lightgrey;
    width: 50%;
    height: 10%;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
    margin-top: 30px;

}

@media screen and (max-width:425px) {
    body {
        width: 100%;
    }

}


