@import url('https://fonts.googleapis.com/css?family=Jacques+Francois+Shadow|Special+Elite&display=swap');
body {
    background-color: #151e3f;
    text-align: center;
    color: #FF8300;
    margin: 0 auto;
}

#submit {
    border-radius: 8px;
    background-color: #FF8300;
    color: #151e3f;
}

#submit:hover {
    background-color: #ffa95e;
}

@media screen and (max-width:425px) {
    body {
        width: 100%;
    }
}

