/* Custom CSS */

@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #2B2E44;
    color: lightgreen;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Roboto Mono', monospace;
    color: #FFF;
}

nav {
    -webkit-box-shadow: 0px 6px 33px -3px rgba(144,238,144,0.36);
    -moz-box-shadow: 0px 6px 33px -3px rgba(144,238,144,0.36);
    box-shadow: 0px 6px 33px -3px rgba(144,238,144,0.36);
}

.top-bar {
    background-color: #2E3247;
}

.sd-main-nav, .dropdown {
    background-color: #2E3247 !important;
    font-family: 'Roboto Mono', monospace;
    color: lightgreen;
    font-weight: bold;
}

.sd-nav-text {
    font-weight: bolder;
    font-size: large;
    font-style: italic;
    text-shadow: #2B2E44;
}

.sd-landing-img {
    width: 100%;
}

.sd-landing-text {
    font-weight: bolder;
    font-size: xx-large;
}

.sd-landing-img {
    text-align: center;
    position: relative;
}

.sd-landing-img img{
    position:absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    margin: auto;
    width: auto;
    height: 256px;
    opacity: 0.5%;
}

.sd-landing-slogan-text {
    font-weight: bold;
}

.sd-card-default {
    text-align: center;
    height: auto;
}

.sd-card-default img {
    height: 64px;
    width: auto;
    margin: 9px;
}

.sd-landing-slogan {
    height: 60vh;
}

.sd-landing-slogan {
    display: flex;
    align-items: center; /* Vertical center alignment */
    justify-content: center; /* Horizontal center alignment */
}

.sd-steps,
.sd-explore {
    font-weight: bolder;
}

.sd-project-card {
    background-color: #2E3247;
    height: 200px;
    width: 100%;
    border: 1px solid #2E3247;
    border-radius: 3px;
    margin: 6px;
    padding: 3px;
}

.sd-profile-projects:hover {
    -webkit-box-shadow: 0px 2px 29px -7px rgba(144,238,144,1);
    -moz-box-shadow: 0px 2px 29px -7px rgba(144,238,144,1);
    box-shadow: 0px 2px 29px -7px rgba(144,238,144,1);
}

.sd-project-card:hover {
    -webkit-box-shadow: 0px 2px 29px -7px rgba(144,238,144,1);
    -moz-box-shadow: 0px 2px 29px -7px rgba(144,238,144,1);
    box-shadow: 0px 2px 29px -7px rgba(144,238,144,1);
}

.sd-user-card {
    background-color: #2E3247;
    width: 100%;
    height: auto;
    border: 1px solid lightgray;
    border-radius: 3px;
    margin: 6px;
    padding: 3px;
}

.sd-list-card {
    background-color: #2E3247;
}

/* Profile Cards */
.card-profile-stats {
    background-color: #2E3247;
    margin: 0 0 1.25rem;
    padding: 1.25rem;
}

.list-group-item {
    background-color: #2E3247;
}

.card-profile-stats .card-profile-stats-intro {
    text-align: center;
}

.card-profile-stats .card-profile-stats-intro .card-profile-stats-intro-pic {
    border-radius: 50%;
    margin: 0 0 1.25rem;
}

.card-profile-stats .card-profile-stats-intro .card-profile-stats-intro-content p:last-child {
    margin: 0;
}

.card-profile-stats .card-profile-stats-container {
    text-align: center;
}

.card-profile-stats .card-profile-stats-container .card-profile-stats-statistic {
    margin: 0 0 1.25rem;
}

.card-profile-stats .card-profile-stats-container .card-profile-stats-statistic p:last-child {
    margin: 0;
}

.card-profile-stats .card-profile-stats-more .card-profile-stats-more-link {
    margin: 0;
    text-align: center;
    font-size: 1.5rem;
    color: #FFF;
    padding: 0.5rem;
    cursor: pointer;
}

.card-profile-stats .card-profile-stats-more .card-profile-stats-more-content {
    display: none;
}

@media print, screen and (min-width: 64em) {
    .card-profile-stats .card-profile-stats-intro {
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        text-align: left;
    }
    .card-profile-stats .card-profile-stats-intro .card-profile-stats-intro-pic {
        margin: 0 1.25rem 0 0;
        max-width: 250px;
    }
    .card-profile-stats .card-profile-stats-container {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-justify-content: space-around;
        justify-content: space-around;
    }
}

/* CSS List Group */
.list-group {
    margin-bottom: 1rem;
    border-radius: 0;
    background: #fefefe;
    box-shadow: none;
    overflow: hidden;
}

.list-group > :last-child {
    margin-bottom: 0;
}

.list-group-item {
    padding: 1rem;
}

.list-group-item > :last-child {
    margin-bottom: 0;
    border-bottom: none;
}

.list-group-item.active {
    color: #fefefe;
    background-color: #1779ba;
    border: 1px solid #1779ba;
}

/*.list-group-item:hover, .list-group-item:focus {*/
/*    background-color: #e6e6e6;*/
/*}*/

.list-group-item:hover.active, .list-group-item:focus.active {
    background-color: #1779ba;
}

.list-group-item.disabled, .list-group-item.disabled:hover, .list-group-item.disabled:focus, .list-group-item[disabled], .list-group-item[disabled]:hover, .list-group-item[disabled]:focus {
    color: #8a8a8a;
    cursor: not-allowed;
    background-color: #fefefe;
}


/* Pill Badges */

.pill-badges {
    background-color: #ddd;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
}

.badge-red {
    background-color: lightcoral;
}

.badge-blue {
    background-color: lightblue;
}

.badge-green {
    background-color: lightgreen;
}

.badge-purple {
    background-color: slateblue;
}

.sd-profile-img {
    width: 100%;
    height: auto;
}

.sd-profile-bio {
    margin: 6px;
}

footer {
    margin-top: 6%;
}

/* Utilities */
.pad-right {
    padding-right: 6px;
    margin-right: 6px;
}

.pad-top {
    padding-top: 9px;
}

.border-right {
    border-right: 1px solid lightgreen;
    opacity: .5%;
}

.border-left {
    border-left: 1px solid lightgreen;
    opacity: .5%;
}

/* Buttons */
.sd-button {
    background-color: lightgreen;
}

/* CTA Buttons */
.button-group-option {
    align-items: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    position:absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    margin: auto;
    width: 50%;
    height: 50px;
}

.button-group-option::before, .button-group-option::after {
    display: table;
    content: ' ';
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
}

.button-group-option::after {
    clear: both;
}

.button-group-option .button {
    margin: 0;
    margin-right: 1px;
    margin-bottom: 1px;
    font-size: 0.9rem;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}

.button-group-option .button:last-child {
    margin-right: 0;
}

.button-group-option .button {
    -webkit-flex: 1 1 0px;
    -ms-flex: 1 1 0px;
    flex: 1 1 0px;
}

.button-group-option .button {
    font-size: 1.125rem;
}

.button-group-option:before {
    content: attr(data-grouptype);
    z-index: 1;
    color: #8a8a8a;
    display: inline-block;
    font-size: 1rem;
    padding: 0.25em;
    border-radius: 5000px;
    background: #fefefe;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.button-group-option .button + .button {
    margin-left: 0.35rem;
}

.sd-cta {
    margin-top: 3%;
    margin-bottom: 3%;
    position: relative;
}

.sd-success {
    background-color: lightgreen;
    color: #2B2E44;
}




