.navbar {
    background-color: #FF8300;
    color: #151E3F;
    padding: 0;
    margin: 0 auto 5em auto;
    font-family: 'Jacques Francois Shadow', cursive;
}
nav a:hover{
    color: #FFF9EE;
    text-shadow: #FFF9EE;
}
.ul-style{
    padding-bottom: 0;
    padding-top: 0;
}
.nav-link {
    color: #151E3F;
    padding-top: 0;
    padding-bottom: 0;
}
.img-link{
    margin-right: 0;
    padding-right: 0;
    width: 3em;
    height: auto;
}
.nav-img-pos{
    padding-left: 0;
}