@import url('https://fonts.googleapis.com/css?family=Open+Sans%7CRoboto+Slab&display=swap');
.navbar-style {
    background-color: #f2c078;
    color: #151E3F;
    padding: .5em;
    font-size: 1em;
    width: 100%;
    font-family: 'Roboto Slab', serif;
    box-shadow: black;
}
.navbar{
    padding: 0;!important;
}
nav a:hover{
    color: #FFF9EE;
    text-shadow: #FFF9EE;
}
.ul-style{
    padding-bottom: .5em;
    padding-top: 0;
}
.nav-link {
    color: #151E3F;
    padding-top: 0;
    padding-bottom: 0;
}
.img-link{
    margin-right: 0;
    padding: 0;
    width: 2em;
    height: auto;
}
.nav-img-pos{
    padding-left: 0;
}