@import url('https://fonts.googleapis.com/css?family=Jacques+Francois+Shadow|Special+Elite&display=swap');
.navbar {
    background-color: #f2c078;
    color: #151E3F;
    padding: 0;
    margin: 0 auto 1em auto;
    font-family: 'Special Elite', cursive;
    box-shadow: black;
}
nav a:hover{
    color: #FFF9EE;
    text-shadow: #FFF9EE;
}
.ul-style{
    padding-bottom: 0;
    padding-top: 0;
}
.nav-link {
    color: #151E3F;
    padding-top: 0;
    padding-bottom: 0;
}
.img-link{
    margin-right: 0;
    padding: 0;
    width: 3em;
    height: auto;
}
.nav-img-pos{
    padding-left: 0;
}