@import url('https://fonts.googleapis.com/css?family=Jacques+Francois+Shadow|Special+Elite&display=swap');
body{
    background-color: #151E3F;
    color: #FFA95E;
    font-family: 'Special Elite', cursive;
}
li{
    list-style-type: none;
}
.project-container {
    align-content: center;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.card-style {
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffa95e;
    box-shadow: #ffa95e;
    border-radius: 8px;
    color: #151E3F;
}
.column-title {
    width: 75%;
    text-align: center;
}

.column-date {
    width: 25%;
    text-align: center;
}

#description {
    height: 7em;
}
.btn-style{
    background-color: #151E3F;
    color: #FF8300;
    border-color: #FFF9EE;
}

