@import url('https://fonts.googleapis.com/css?family=Jacques+Francois+Shadow|Special+Elite&display=swap');
body{
    background-color: #151E3F;
    color: #FFA95E;
    font-family: 'Special Elite', cursive;
}
li{
    list-style: none;
}
.project-container {
    /*align-content: center;*/
    text-align: center;
    /*display: flex;*/
    justify-content: center;
    /*flex-direction: row;*/
    background-color: #ffa95e;
    color: #FFF9EE;
}

.card-style {
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffa95e;
    box-shadow: #ffa95e;
    border-radius: 8px;
    color: #FFF9EE;
}
.column-title {
    width: 75%;
    text-align: center;
    background-color: #ffa95e;
    color: #FFF9EE;
}

.column-date {
    width: 25%;
    text-align: center;
    background-color: #ffa95e;
    color: #FFF9EE;
}

#description {
    height: 3em;
    background-color: #ffa95e;
    color: #FFF9EE;
}
.btn-style{
    background-color: #151E3F;
    color: #FF8300;
    border-color: #FFF9EE;
}

