<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="partials/header :: header" >
    </th:block>
    <link rel="stylesheet" href="/css/aboutus.css" />
    <title>About us:</title>
</head>

<body>
<nav th:replace="partials/navbar :: nav"></nav>

<br/>
<div class="about">
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <br/>
            <div class="card-elle mx-auto col-4">
                <div class="card-body">
                    <img src="/img/eliseberry.jpg" alt="Elle's image" />
                    <h2 class="card-title">Elle</h2>

                    <h4>Biography:</h4>

                    <h6 class="bio">I've always been interested in programming. I've
                        learned to be a Software Developer skilled at
                        technical leadership, communication and
                        presentations. Experienced in full project life
                        cycle from design to implementation to
                        integration. Able to work well under pressure
                        and consistently meet deadlines and targets
                        while delivering high quality work. I quickly
                        learned and mastered new technologies by
                        working in both team and self-directed settings.</h6>
                </div>
            </div>
            <br/>
        </div>
        <div class="carousel-item">
            <br/>
            <div class="card-derek mx-auto col-4">
                <div class="card-body">
                    <img src="/img/dereknoble.jpg" alt="Derek's image'" />
                    <h2 class="card-title">Derek</h2>

                    <h4>Biography:</h4>

                    <h6 class="bio">As a child, I loved to explore, build and deconstruct—from wandering the woods of Louisiana near my childhood home, to crafting castles out of
                        popsicle sticks and hot glue, to dismantling the remote to determine how the buttons worked. I now have a newfound sense of that creative
                        curiosity, as my time at Codeup has shown me that software development is where I have always belonged. In my career ahead, I intend to
                        bring enthusiasm and hard work ethic to my career and team.</h6>
                </div>
            </div>
            <br/>
        </div>
        <div class="carousel-item">
            <br/>
            <div class="card-nic mx-auto col-4">
                <div class="card-body">
                    <img src="/img/nictipton.jpg" alt="Nic's image" />
                    <h2 class="card-title">Nic</h2>

                    <h4>Biography:</h4>

                    <h6 class="bio">I am an experienced project manager with vast leadership experience. Skills include networking, analytical
                        thinking and creative problem solving. Able to apply these concepts to expanding software
                        development skills to produce a versatile developer with the understanding to both create
                        programs from the ground up as well as organize them in a practical and efficient manner.</h6>
                </div>
            </div>
            <br/>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
</div>

<footer th:replace="partials/footer :: footer"></footer>

</body>
</html>
