<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>About us:</title>
    <link rel="stylesheet" href="css/aboutus.css" />
    <div th:replace=" /partials/header :: header" ></div>
</head>

<body>
<nav th:replace="partials/navbar :: nav"></nav>


    <article class="card-elle w-75 mx-auto col-4">
        <div class="card-body">
            <img src="img/elle.png" alt="Elle's image" />
            <h2 class="card-title">Elle</h2>

            <h4>Biography:</h4>

            <h6 class="bio">Gobbley Gopp text.</h6>
        </div>
    </article>

    <article class="card-derek w-75 mx-auto col-4">
        <div class="card-body">
            <img src="img/derek.png" alt="Derek's image" />
            <h2 class="card-title">Derek</h2>

            <h4>Biography:</h4>

            <h6 class="bio">Gobbley Gopp text.</h6>
        </div>
    </article>

    <article class="card-nic w-75 mx-auto col-4">
        <div class="card-body">
            <img src="img/nic.png" alt="Nic's image" />
            <h2 class="card-title">Nic</h2>

            <h4>Biography:</h4>

            <h6 class="bio">Gobbley Gopp text.</h6>
        </div>
    </article>

<footer th:replace="partials/footer :: footer"></footer>

</body>
</html>
