<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:include="partials/header :: header" >
</th:block>
    <meta charset="UTF-8"/>
    <title>Seeking</title>
    <link rel="stylesheet" href="/css/landing-page.css"/>
    <link rel="stylesheet" href="/css/navbar.css"/>
</head>
<body>

    <nav th:replace="partials/navbar :: nav"></nav>

    <div>
        <h1>Welcome to Seeking Developers!</h1>
        <h5>Seeking Developers is a networking site that helps connect front-end developers with back-end developers.
        </h5>
    </div>

    <div class="card rounded main-card">
        <div class="row">
            <div class="col-6 shadow d-flex float-left card-img-top">
            <img src="/img/blur-codes-coding.jpg" width="80%" height="auto" class="pic-card rounded" alt="projects" />
            <div class="col-6 align-self-center justify-content-center d-flex float-right project-div" >
                <h4>Create and share your own projects.</h4>
            </div>
        </div>
        </div>

        <div class="row">
            <div class="col-6 align-self-center" >
                <h4>Show your fellow devs what kind of a developer you are.</h4>
            </div>
            <div class="col-6 shadow card-img-top">
                <img src="/img/adult-brainstorming-chair.jpg" width="80%" height="auto" class="profile-pic rounded" alt="profile" />
            </div>
        </div>

        <div class="row">
            <div class="col-6 shadow card-img-top">
                <img src="/img/blueprint-company-concept.jpg" width="80%" height="auto" class="dashboard-pic rounded" alt="dashboard" />
            </div>
            <div class="col-6 align-self-center" >
                <h4>View and collaborate on projects from developers just like you.</h4>
            </div>
        </div>
    </div>

<footer th:replace="partials/footer :: footer"></footer>

</body>
</html>