<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:include="partials/header :: header" >
</th:block>
    <meta charset="UTF-8"/>
    <title>Seeking</title>
    <link rel="stylesheet" href="/css/landing-page.css"/>
    <link rel="stylesheet" href="/css/navbar.css"/>
</head>
<body>

    <nav th:replace="partials/navbar :: nav"></nav>

    <div class="jumbotron jumbotron-fluid jumbo-style">
            <div class="landing-title">
                <h1>Welcome to Seeking Developers!</h1>
<!--                <br/>-->
<!--                <h3>Seeking Developers is a networking site that helps connect front-end developers with back-end developers.-->
<!--                </h3>-->
            </div>
    </div>

    <div class="row">
        <div class="col-12 d-flex justify-content-end">
                    <img src="/img/blur-codes-coding.jpg" width="50%" height="80%" alt="projects"/>
                <div class="card">
                        <div class="caption-style card-img-overlay">
                        <h2 class="card-title">Projects</h2>
                        <h3 class="card-text">Create and share your own projects.</h3>
                        </div>
                </div>
        </div>
    </div>
        <div class="row">
        <div class="col-12 d-flex justify-content-start">
                    <img src="/img/books-coding-couch.jpg" width="50%" height="80%" alt="profile"/>
                <div class="card">
                    <div class="caption-style card-img-overlay">
                        <h2 class="card-title">Make Your Profile</h2>
                        <h3 class="card-text">Show your fellow devs what kind of a developer you are.</h3>
                    </div>
                </div>
        </div>
        </div>
        <div class="row">
        <div class="col-12 d-flex justify-content-end ">
                    <img src="/img/access-code-coding.jpg" width="50%" height="80%" alt="dashboard"/>
                <div class="card">
                    <div class="caption-style card-img-overlay">
                        <h2 class="card-title">Dashboard</h2>
                        <h3 class="card-text">View and collaborate on projects from developers just like you.</h3>
                    </div>
                </div>
        </div>
        </div>

<footer th:replace="partials/footer :: footer"></footer>

</body>
</html>