<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Create Project</title>
</head>
<body>
<h1>Create a Project</h1>

<form th:action="@{/projects/create}" th:method="post" th:object="${project}">
    <label for="title">Title</label>
    <input type="text" th:field="*{title}" id="title">
    <br />
    <label for="description">Description</label>
    <input type="text" th:field="*{description}" id="description">
    <br/>
    <input type="submit">
</form>

</body>
</html>