<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:include="partials/header :: header" >
</th:block>
    <meta charset="UTF-8" />
    <title>Create Project</title>
    <link rel="stylesheet" href="/css/create.css"/>
</head>
<body>

<nav th:replace="partials/navbar-user :: user-nav"></nav>

<h1>Create a Project</h1>
    <div class="card main-card">
        <form th:action="@{/projects/create}"  class="card-body" th:method="post" th:object="${project}">
            <label for="title">Title</label>
            <input type="text" th:field="*{title}" class="textbox-style" placeholder="Title" id="title" />
            <br />
            <label for="description">Description</label>
            <input type="text" th:field="*{description}" class="textbox-style" placeholder="Description" id="description" />
            <br />
            <label for="helpNeeded">What type of help is needed?</label>
            <br/>
            <select class="dropdown-style" name="helpNeeded" id="helpNeeded">
                <option value="1">Front-End</option>
                <option value="2">Back-End</option>
            </select>
            <br/>
            <input class="btn-style" type="submit" />
        </form>
    </div>

<footer th:replace="partials/footer :: footer"></footer>

</body>
</html>