<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: header">
    <meta charset="UTF-8"/>
    <title>dashboard</title>
</head>
<body>

<nav th:replace="partials/navbar :: nav"/>


    <h2>Welcome to your Dahsboard!</h2>

    <div>
        <h3 th:text="projects.title"></h3>
        <h4 th:text="projects.creator"></h4>
        <h5 th:text="projects.isComplete"></h5>
        <p th:text="projects.description"></p>

        <h5 th:text="projects.dev_type"></h5>
        <h5 th:text="projects.creating_date"></h5>
    </div>

<footer th:replace="partials/footer :: footer"></footer>

</body>
</html>