<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Project List Page</title>
    <th:block th:include="partials/header :: header" >
    </th:block>
    <link rel="stylesheet" href="/css/projects-list.css" />
    <link rel="stylesheet" href="/css/navbar-user.css"/>
</head>
<body>
<nav th:replace="partials/navbar-user :: user-nav"></nav>
<br />
<br />

<div class="card-deck main-card">
    <div class="project-container">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="column-title">
                        <h1>Project Title:</h1>
                    </div>
                    <div class="column-date">
                        <h5>Date Created:</h5>
                    </div>

                </div>
            </div>

            <ul class="list-group">
                <li class="list-group-item">Created By:</li>
                <li class="list-group-item description">Description:</li>
                <li class="list-group-item">Help Needed:</li>
                <li class="list-group-item">Tags:</li>
                <li class="list-group-item">Is Complete?</li>
            </ul>

            <button th:type="button" th:value="Edit" >Edit</button>
        </div>
    </div>

    <div class="project-container">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="column-title">
                        <h1>Project Title:</h1>
                    </div>
                    <div class="column-date">
                        <h5>Date Created:</h5>
                    </div>

                </div>
            </div>

            <ul class="list-group">
                <li class="list-group-item">Created By:</li>
                <li class="list-group-item description">Description:</li>
                <li class="list-group-item">Help Needed:</li>
                <li class="list-group-item">Tags:</li>
                <li class="list-group-item">Is Complete?</li>
            </ul>

        </div>
    </div>
</div>

<footer th:replace="partials/footer :: footer"></footer>

</body>
</html>