<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Single Project Page</title>
    <div th:replace=" partials/header :: header" ></div>
    <link rel="stylesheet" href="../css/single-project.css" />
</head>
<body>
<nav th:replace="partials/navbar-user :: user-nav"></nav>
<br />
<br />

<div class="project-container" th:each="project : ${project}">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="column-title">
                    <h1>Project Title: <span th:text="${project.title}"></span></h1>
                </div>
                <div class="column-date">
                    <h5>Date Created: <span th:text="${{project.creatingDate}}"></span></h5>
                </div>

            </div>
        </div>

        <ul class="list-group">
            <li class="list-group-item">Created By: <span th:text="${project.creator.username}"></span></li>
            <li class="list-group-item" id="description">Description: <span th:text="${project.description}"></span></li>
            <li class="list-group-item">Help Needed: <span th:text="${project.dev_type.title}"></span></li>
            <li class="list-group-item">Is Complete? </li>
            <li class="list-group-item">Contributors: </li>
        </ul>

        <h3>List of Contributors</h3>
        <div th:each="contributor : ${contributors}">
            <p th:text="${contributor.username}"></p>

        </div>

        <form th:action="@{'/projects/' + ${project.id} + '/single-project'}" th:method="POST" onsubmit="return confirm('Are you sure you want to join this project?')">
            <input type="hidden" name="joinProject" th:value="${project.id}" />
            <button type="submit" class="btn btn-primary">Join this project</button>
        </form>

        <br/>

        <form th:action="@{'/projects/' + ${project.id} + '/single-project' + '/edit'}" th:method="GET">
        <input type="hidden" name="editProject" th:value="${project.id}" />
        <button th:type="submit" class="btn btn-primary">Edit Project</button>
        </form>

    </div>
</div>

<footer th:replace="partials/footer :: footer"></footer>

</body>
</html>