<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Single Project Page</title>
    <div th:replace=" partials/header :: header" ></div>
    <link rel="stylesheet" href="../css/single-project.css" />
</head>
<body>
<nav th:replace="partials/navbar-user :: user-nav"></nav>
<br />
<br />

<div class="project-container" th:each="project : ${project}">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="column-title">
                    <h1 th:text="${project.title}">Project Title:</h1>
                </div>
                <div class="column-date">
                    <h5 th:text="${project.creatingDate}">Date Created:</h5>
                </div>

            </div>
        </div>

        <ul class="list-group">
            <li class="list-group-item">Created By: <span th:text="${project.creator.username}"></span></li>
            <li class="list-group-item" id="description" th:text="${project.description}">Description:</li>
            <li class="list-group-item">Help Needed:</li>
            <li class="list-group-item">Tags:</li>
            <li class="list-group-item">Is Complete?</li>
            <li class="list-group-item">Contributors: </li>
        </ul>

        <form th:action="@{'/projects/' + ${project.id} + '/single-project'}" th:method="POST">
            <input type="hidden" name="joinProject" th:value="${project.id}" />
            <button type="submit" class="btn btn-primary">Join this project</button>
        </form>

    </div>
</div>

<footer th:replace="partials/footer :: footer"></footer>

</body>
</html>