<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8"/>
    <title>View All</title>
    <!--<link rel="stylesheet" href="/css/dashboard.css"/>-->
    <link rel="stylesheet" href="/css/app.css" />
    <link rel="stylesheet" href="/css/foundation.css" />

</head>
<body>

<!--Dashboard Foundation-->

<div class="row">
    <div class="columns small-4" th:each="frontEndProject : ${frontEndProjects}">
        <div class="card" style="width: 300px;">
            <div class="card-divider" th:text="${frontEndProject.title}"></div>
            <div class="card-section">
                <h4 th:text="${frontEndProject.creator.username}"></h4>
                <p th:text="${frontEndProject.description}"></p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="columns small-4" th:each="backEndProject : ${backEndProjects}" >
        <div class="card" style="width: 300px;">
            <div class="card-divider" th:text="${backEndProject.title}"></div>
            <div class="card-section">
                <h4 th:text="${backEndProject.creator.username}"></h4>
                <p th:text="${backEndProject.description}"></p>
            </div>
        </div>

    </div>
</div>















<!-- Compressed JavaScript -->
<script src="/js/vendor/jquery.js"></script>
<script src="/js/vendor/what-input.js"></script>
<script src="/js/vendor/foundation.js"></script>
<script src="/js/app.js"></script>

</body>
</html>










