.card-elle {
    float: left;
    text-align: center;
}

.card-derek {
    float: left;
    text-align: center;
}

.card-nic {
    float: left;
    text-align: center;
}

h6.bio {
    font-size: 16px;
}